{{!-- about section --}}
<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About us</h1>
            <p class="text-center sub-heading">grow your Business with us</p>
            <div class="row">
                {{!-- left side --}}
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        <img src="images/about.svg" alt="herosection">
                    </figure>
                </div>
                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-item-start flex-column">
                    <h1>We Are The <span class="prof">Professinal Developer</span></h1>
                    <P>Welcome to <span class="prof">Business Mindset.</span> Your number one source for the all things
                        we're dedicated to giveing you the very best work with a focus on [three characteristics ie:Dependability, costomer service and uniqueness]</P>
                    <button class="btn-style btn-primary">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- about section --}}